<div class="container">
<div *ngFor="let customer of result">
    <pre>
        <div class="input-form">
          <mat-form-field class="input-info">
            <mat-label>Cuenta N°:</mat-label>
            <input matInput placeholder="Cuenta N°" value={{customer.id}}>
          </mat-form-field>
          <mat-form-field class="input-info">
            <mat-label>Nombre:</mat-label>
            <input matInput placeholder="Cuenta N°" value={{customer.fullName}}>
          </mat-form-field>
          <mat-form-field class="input-info">
            <mat-label>Tipo de documento:</mat-label>
            <input matInput placeholder="Cuenta N°" value={{customer.documentType.name}}>
          </mat-form-field>
          <mat-form-field class="input-info">
            <mat-label>Documento:</mat-label>
            <input matInput placeholder="Cuenta N°" value={{customer.document}}>
          </mat-form-field>
          <mat-form-field class="input-info">
            <mat-label>Telefono:</mat-label>
            <input matInput placeholder="Cuenta N°" value={{customer.phone}}>
          </mat-form-field>
          <mat-form-field class="input-info">
            <mat-label>Email:</mat-label>
            <input matInput placeholder="Cuenta N°" value={{customer.email}}>
          </mat-form-field>
          <mat-form-field class="input-info">
            <mat-label>Contraseña:</mat-label>
            <input matInput placeholder="Cuenta N°" value={{customer.password}}>
          </mat-form-field>
        </div>
    </pre>
</div>
</div>
<!-- Cuenta N°: {{customer.id}}
Nombre: {{customer.fullName}}
    Tipo de documento: {{customer.documentType.name}}
    Documento: {{customer.document}}
Telefono: {{customer.phone}}
Email: {{customer.email}}
Contraseña: {{customer.password}} -->
            <!-- docId: {{customer.documentType.id}} -->
            <!-- docState: {{customer.documentType.state}} -->
        <!-- avatar: {{customer.avatarUrl}} -->
        <!-- state: {{customer.state}} -->
        <!-- deleted: {{customer.daletedAt}} -->