<div class="container">
<div *ngFor="let customer of result">
    <pre>
        Cuenta N°: {{customer.id}}
        Nombre: {{customer.fullName}}
            Tipo de documento: {{customer.documentType.name}}
            Documento: {{customer.document}}
        Telefono: {{customer.phone}}
        Email: {{customer.email}}
        Contraseña: {{customer.password}}
    </pre>
</div>
</div>
            <!-- docId: {{customer.documentType.id}} -->
            <!-- docState: {{customer.documentType.state}} -->
        <!-- avatar: {{customer.avatarUrl}} -->
        <!-- state: {{customer.state}} -->
        <!-- deleted: {{customer.daletedAt}} -->