<div class="container">
    <h2>Mi cuenta</h2>
    <my-account-info></my-account-info>
</div>

<div class="container">
    <mat-form-field class="input-info">
        <mat-label>Cuenta:</mat-label>
        <input 
        matInput 
        placeholder="Ej: 123456789" 
        [formControl]="inputId">
      </mat-form-field>
    <button mat-raised-button color="primary" (click)="searchCustomerById()">Buscar usuario por ID</button>
    <button mat-raised-button color="primary" (click)="searchCustomers()">Buscar todos los usuarios (customer)</button>
    <div class="container">
        <get-customer *ngIf="!oneOrMany"></get-customer>
        <get-one-customer *ngIf="oneOrMany"></get-one-customer>
    </div>
</div>