<div class="container">
    <form [formGroup]="depositForm" (ngSubmit)="postDeposit()">
        <mat-form-field class="input-info">
            <mat-label>Cuenta:</mat-label>
                <input 
                    matInput 
                    placeholder="Numero de cuenta"
                    formControlName="id">
            </mat-form-field>
            <mat-form-field class="input-info">
            <mat-label>Monto:</mat-label>
                <input 
                    matInput 
                    placeholder="Cantidad a depositar"
                    formControlName="amount">
            </mat-form-field>
        <button type="submit" mat-raised-button color="primary">Depositar</button>
    </form>
</div>